*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 56.25%;
  }

  @media only screen and (max-width:800px) {
    html {
      font-size: 20%;
    }
  }

  @media only screen and (max-width:320px) {
    html {
      font-size: 15%;
    }
  }

body {
  background-color: antiquewhite;
   background-image: url("texture.png");
  font-family: big-caslon-fb, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

::selection {
  background: saddlebrown;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline-grid;
}

.right-nav {
  position: fixed;
  top: 1%;
  right: 2.5%;
  /* transform: rotate(1.5deg); */
}

h1 {
  font-size: 13rem;
  line-height: 100%;
  text-transform: uppercase;
  margin: 1rem;
}

h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 6rem;
  margin: 1rem;
}

p {
  margin: 1.5%;
}

.mariame {
  line-height: 100%;
}

a:link, a:active, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

a:hover {
  color: saddlebrown;
  cursor: help;
  transition: 1.5s;
}

.gift-wrap {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.left,
.right {
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.25s;
}

.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.hide-n-seek a { 
  position: relative; 
  text-decoration: none;
  border-bottom: 0px;
}

.hide-n-seek a span { 
  position: absolute; 
  display:none; 
  z-index:99; 
}

.hide-n-seek a:hover span { 
  color: black;
  display: block; 
  transition: 0.25s;
}

.hide-n-seek img {
  width: 20%;
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  border-radius: 3%;
  filter: drop-shadow(0.75rem 0.75rem 0 black);
}

hr {
  border: 0px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.archive {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
}

.photo {
  width: 45%;
}