body {
    background-color: antiquewhite;
    margin: 0px auto;
    width: 1447px; 
    cursor: help;
}

/* typography */
.head {
    flex-grow: 2;
    font-family: big-caslon-fb, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
}

/* span {
    position: relative;
} */

/* rearrange */
.title {
    left: 7rem;
    position: relative;
}

.subtitle {
    flex-grow: 2;
    top: -17rem;
    left: 2.5rem;
    position: relative;
}

.subhead {
    font-family: big-caslon-fb, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.headline {
    font-family: 'big-caslon-fb', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    line-height: 2rem;
}

.blank {
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    width: 0%;
}

/* javascript */
#photo-booth-app {

}

#photo-booth-image {

}

.block img {
    display: block;
    margin: 0 auto 10px auto;
  }

p {
    font-family: 'big-caslon-fb', serif;
    font-weight: 400;
    font-style: normal;
}

/* links */
a, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
    cursor: help;
}

nav {
    font-family: 'big-caslon-fb', serif;
    font-weight: 800;
    font-style: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
    position: relative;
    top: -20rem;
    right: -7rem;
    border-right: 1px solid;
    padding-left: -15rem;
}

.read-more {
    font-family: 'franklin-gothic-compressed', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.news-block {
    position: relative;
    bottom: 30rem;
}

/* images */
.img {
    display: flex;
    max-width: 100%;
    height: auto;
}

/* grid layout */

/* to hold all blocks of text and images tenderly */
.container {
    display: flex;
    flex-flow: row wrap;
    /* align-content: stretch; */
    /* height: 100%; */
}

/* determine arrangement of block of content */
.item {
    margin-right: auto;
    width: 20%; /* 5 per row instead of 6 as designed*/
}
